@import 'variables';

$heading-text-length: (
  'home': 15,
  'about': 6,
  'technology': 22,
  'customers': 19,
  'functionality': 31,
  'author': 7,
);

* {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: $color-background;
  overflow-x: hidden;
}

ul,
li {
  display: block;
  padding: 0;
}

h1,
h2,
h3,
p,
li {
  color: $color-text;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  @include for-extra-small-and-small-sizes {
    justify-content: flex-start;
    padding: $section--padding;
  }

  .container {
    position: relative;
    margin: 0 auto;
    padding: $container--padding;
    height: 100%;
    width: 100%;
    max-width: $size-medium - $container--padding * 2 -
      $command--font-size--default - $command-prompt-symbol--padding * 2;

    @include for-extra-small-and-small-sizes {
      width: 100%;
      max-width: 100%;
    }
  }
}

@mixin command--with-typing--animation($steps) {
  animation: typingHidingDelay $command--with-typing--animation-delay,
    typingWriting $command--with-typing--step-duration * $steps
      steps($steps, end) $command--with-typing--animation-delay,
    typingKeepingCaret $command--with-typing--animation-delay +
      $command--with-typing--step-duration * $steps + 0.2s;
}

@mixin content--appearing-after-typing--animation($steps) {
  animation: appearing 0.5s linear $command--with-typing--animation-delay +
    $command--with-typing--step-duration * $steps + 0.2s;
}

.typewriter-container {
  display: flex; /* hack (along with div around html element with 'command--with-typing' class) to adjust block element's width to its content*/

  .command {
    font-family: $font-heading;
    font-size: $command--font-size--default;

    @include for-small-sizes {
      font-size: $command--font-size--small;
    }

    @include for-extra-small-sizes {
      font-size: $command--font-size--extra-small;
    }

    &-home {
      font-size: $command--font-size--default * 1.5;

      @include for-small-sizes {
        font-size: $command--font-size--small * 1.25;
      }

      @include for-extra-small-sizes {
        font-size: $command--font-size--extra-small * 1.25;
      }
    }

    &--with-typing {
      overflow: hidden;
      border-right: 0.4em solid transparent;
      white-space: nowrap; /* Keeps the content on a single line */

      @each $name, $length in $heading-text-length {
        &.command-#{$name} {
          @include command--with-typing--animation($length);
        }
      }
    }

    &--with-prompt-symbol {
      &::before {
        position: absolute;
        content: $command-prompt-symbol;
        right: 100%;
      }
    }
  }
}

.content {
  font-family: $font-running;

  &-home {
    font-family: $font-heading;
  }

  &--appearing-after-typing {
    @each $name, $length in $heading-text-length {
      &.content-#{$name} {
        @include content--appearing-after-typing--animation($length);
      }
    }
  }
}
